╔═════════════════════════════╗
║Autoscaling Group Information║
╚═════════════════════════════╝
${join("\n", [
for key, value in resource_map: (
  join("\n\t", [
    "(${key})${value.autoscaling_group_id}",
    "╠ Min size: ${value.autoscaling_group_min_size}",
    "╠ Max size: ${value.autoscaling_group_max_size}",
    "╠ Desired Capacity: ${value.autoscaling_group_desired_capacity}",
    "╠ Launch template: ${value.launch_template_name}",
    resource_lb[key]
  ])
)
])}

