client
dev tun
proto udp
remote <VPN_SERVER_PUBLIC_IP> <VPN_SERVER_PORT>
resolv-retry infinite
nobind
persist-key
persist-tun
remote-cert-tls server

<ca>
${file("<PATH_TO_CA_CERTIFICATE_PEM>")}
</ca>

<cert>
${file("<PATH_TO_CLIENT_CERTIFICATE_PEM>")}
</cert>

<key>
${file("<PATH_TO_CLIENT_PRIVATE_KEY_PEM>")}
</key>